body {
  margin: 0;
  font-family: 'Metal Mania', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container h1{
    color:rgb(75, 22, 126);
    text-align: center;
    
}
